# Dependencies
/node_modules

# Project files
/packages/**/node_modules
/packages/**/wally.lock
/packages/*/README.md
/packages/*/LICENSE.md
*.rbxl
*.rbxm
sourcemap.json
roblox.d.luau
types.d.luau

# Misc
.DS_Store
*.code-workspace
