name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pnpm/action-setup@v4
      - uses: CompeyDev/setup-rokit@v0.1.2

      - name: Install dependencies
        run: pnpm install

      - name: Check code quality
        run: lute run check

      - name: Run tests
        run: lute run test

      - name: Build models
        run: lute run build
